


.card{
    background-color: white;
    border: 1px solid black;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    height: 530px;
    position: relative;
}

.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-info{
    padding: 10px 20px;
}

.card-info h3{
    font-size: 22px;

}

.card-info div{
    position: absolute;
    bottom: 55px;
}

.card-info div h4{
    font-size: 17px;
    padding-top: 5px;
}

.add-button{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


.add-button:hover{
    background-color: lightskyblue;
    color: black;
}