

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

.header-container img{
    width: 90px;
    height: 80px;
    padding: 10px;


}

.header-container h1{
    font-size: 40px;
}