

.aside{
    /* background-color: blue; */
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.user-info img{
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

.info .icon{
    padding-right: 5px;
}