

.main-card-container{
    background-color: rgba(135, 206, 250, 0.134);

}


.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px;
}



/* 688px 992 1312 */

@media only screen and (max-width: 688px) {

    .card-container{
        display: block;
        margin: 15px;
    }
  }
  

  

@media (min-width: 688px) and (max-width: 1312px) {
    .card-container {
      display: block;
      margin: 30px auto;
      max-width: 500px;
    }
  }